{% extends '/layout.html.twig' %}

{% block title %}{{ details.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>{{ details.title }}</h3>
                <h4 class="text-muted">{{ side.details.title }}</h4>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col"><img class="photo rounded img-fluid" src="{{ details.photo }}" alt=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item flex-fill text-center"><i class="las la-stopwatch"></i> Prep: {{ details.prep_time }}</li>
                            <li class="list-group-item flex-fill text-center"><i class="las la-stopwatch"></i> Cook: {{ details.cook_time }}</li>
                            <li class="list-group-item flex-fill text-center"><i class="las la-stopwatch"></i> Total: {{ details.total_time }}</li>
                            <li class="list-group-item flex-fill text-center ratings"> Rating: <i class="lar la-star" data-value="1"></i><i class="lar la-star" data-value="2"></i><i class="lar la-star" data-value="3"></i><i class="lar la-star" data-value="4"></i><i class="lar la-star" data-value="5"></i> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col">
                        <h6 class="mt-lg-0 mt-3">Main Dish Ingredients</h6>
                        <ul class="list-group">
                            {% for i in ingredients %}
                            <li class="list-group-item py-1 px-2">{{ i.quantity }} {{ i.unit }} {{ i.name }} {{ i.info }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if side.details.title is not null %}
                <div class="row">
                    <div class="col">
                        <h6 class="mt-3">Side Dish Ingredients</h6>
                        <ul class="list-group">
                            {% for i in side.ingredients %}
                            <li class="list-group-item py-1 px-2">{{ i.quantity }} {{ i.unit }} {{ i.name }} {{ i.info }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="mt-3">Main Dish Instructions</h6>
                <ol class="list-group list-group-numbered">
                    {% for i in instructions %}
                    <li class="list-group-item py-1 px-2">{{ i.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% if side.details.title is not null %}
        <div class="row">
            <div class="col">
                <h6 class="mt-3">Side Dish Instructions</h6>
                <ol class="list-group list-group-numbered">
                    {% for i in side.instructions %}
                    <li class="list-group-item py-1 px-2">{{ i.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}